<!DOCTYPE html>
<html>

<head>
    <title>
        <%= city.name %>
    </title>
    <script src="https://kit.fontawesome.com/52ca80b39c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">


</head>

<body class="city-page-body">
    <button onclick="location.href='/'" id="closeButton">&times;</button>

    <div class="location-banner">
        <!-- need to add a city pic here -->
        <!-- maybe from unsplash api?-->
        <img class="location-banner-pic" src=<%=city.properties.pic %>>

    </div>
    <h1>Welcome to <%= city.name %>!
    </h1>

    <!-- Add more city-specific content placeholders as needed -->
    <h2><i class="fa fa-question"></i> Why <%= city.name %>?
    </h2>
    <p><%- city.properties.why %></p>

    <h2><i class="fa fa-question"></i> Why Not?
    </h2>
    <p><%- city.properties.whyNot %></p>




    <!-- This one is not aligning properly, they should all start on the same line -->
    <% if (city.properties.communities && city.properties.communities.trim().length> 0) { %>
        <h2><i class="fa fa-group"></i> Communities</h2>
        <p><%- city.properties.communities %></p>
        <% } %>

            <% if (city.properties.schools && city.properties.schools.trim().length> 0) { %>
                <h2><i class="fas fa-building"></i> Schools</h2>
                <p><%- city.properties.schools %></p>
                <% } %>

                    <% if (city.properties.weather && city.properties.weather.trim().length> 0) { %>
                        <h2><i class="fa fa-sun-o"></i> Weather</h2>
                        <p><%- city.properties.weather %></p>
                        <% } %>

                            <% if (city.properties.popuplation && city.properties.weather.population().length> 0) { %>
                                <h2><i class="fa fa-bar-chart"></i> Population</h2>
                                <p><%- city.properties.population %></p>
                                <% } %>



                                    <h2><i class="fa fa-pencil-square-o"></i> Reviews</h2>
                                    <p>

                                        <% for(let key in city.properties.reviews) { %>
                                            <p>
                                                <%- city.properties.reviews[key] %>
                                            </p>
                                            <% } %>
                                    </p>
                                    <p>Add Review</p>

                                    <!-- User Comments Section -->
                                    <div id="userComments">
                                        <h4>User Comments:</h4>

                                    </div>
                                    <!-- Comment Form -->
                                    <form id="commentForm">
                                        <label for="commentInput">Add a Comment:</label>
                                        <textarea id="commentInput" rows="4" cols="50" required></textarea>
                                        <button type="submit">Add Comment</button>
                                    </form>
                                    <div class="returnButton">
                                        <button class="plane-button" onclick="location.href='/'">&#9992 Fly Back To
                                            Homepage</button>

                                    </div>
</body>

</html>