<!DOCTYPE html>
<html>

<head>
    <title>
        <%= city.name %>
    </title>
    <script src="https://kit.fontawesome.com/52ca80b39c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">


</head>

<body class="city-page-body">
    <button onclick="location.href='/'" id="closeButton">&times;</button>

    <div class="location-banner">
        <!-- need to add a city pic here -->
        <!-- maybe from unsplash api?-->
        <img class="location-banner-pic" src=<%=city.properties.pic %>>

    </div>
    <h1>Welcome to <%= city.name %>
    </h1>

    <!-- Add more city-specific content placeholders as needed -->
    <h2><i class="fa fa-question"></i> Why <%= city.name %>?
    </h2>
    <p><%- city.properties.why %></p>

    <!-- test -->



    <h2><i class="fa fa-group"></i> Communities</h2>
    <h2><i class="fas fa-building"></i> Schools</h2>
    <h2><i class="fa fa-sun-o"></i> Weather</h2>
    <p><%- city.properties.weather %></p>

    <h2><i class="fa fa-bar-chart"></i> Population</h2>
    <h2><i class="fa fa-pencil-square-o"></i> Reviews</h2>
    <p>

        <% for(let key in city.properties.reviews) { %>
            <p>
                <%- city.properties.reviews[key] %>
            </p>
            <% } %>
    </p>
    <p>Add Review</p>

    <!-- User Comments Section -->
    <div id="userComments">
        <h4>User Comments:</h4>
        <p id="commentsList">
            Some Comment
        </p>
    </div>
    <!-- Comment Form -->
    <form id="commentForm">
        <label for="commentInput">Add a Comment:</label>
        <textarea id="commentInput" rows="4" cols="50" required></textarea>
        <button type="submit">Add Comment</button>
    </form>
    <button onclick="location.href='/'">Go Back Home</button>
</body>

</html>