<!DOCTYPE html>
<html>

<head>
    <title>
        <%= city.name %>
    </title>
</head>

<body>
    <h1>Welcome to <%= city.name %>
    </h1>
    <p>
        <%= description %>
    </p>
    <!-- Add more city-specific content placeholders as needed -->
    <h2>Why <%= city.name %>
    </h2>
    <h2>Communities</h2>
    <h2>Schools</h2>
    <h2>Weather</h2>
    <h2>Population</h2>
    <h2>Reviews</h2>
    <p>

        <% for(let key in city.properties.reviews) { %>
            <p>
                <%- city.properties.reviews[key] %>
            </p>
            <% } %>
    </p>
    <p>Add Review</p>

    <!-- User Comments Section -->
    <div id="userComments">
        <h4>User Comments:</h4>
        <p id="commentsList">
            Some Comment
        </p>
    </div>
    <!-- Comment Form -->
    <form id="commentForm">
        <label for="commentInput">Add a Comment:</label>
        <textarea id="commentInput" rows="4" cols="50" required></textarea>
        <button type="submit">Add Comment</button>
    </form>
</body>

</html>